.Input-Container {
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid black;
    background-color: #ccc;
    margin: 1rem auto; /* Centers the container and adds margin around it */
    width: 50rem;
    box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
}

.Input {
    width: 100%; /* Take full width of its container */
    min-height: 15rem; /* Minimum height */
    max-height: 20rem; /* Maximum height before scrolling */
    overflow: auto; /* Allows for scrolling when content overflows */
    border: none; /* No border */
    background-color: transparent; /* Transparent background */
    outline: none; /* No focus outline */
    resize: none; /* Disable resizing */
    box-sizing: border-box; /* Border and padding are counted in width/height */
}

.Submit-Button {
    width: 100%; /* Full width to match the textarea container */
    padding: 10px;
    margin-top: 1rem; /* Space between the textarea and button */
    border-radius: 0.5rem; /* Rounded corners for the button */
    background-color: #ccc; /* Background color for the button */
    font-size: 16px; /* Fixed font size for readability */
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
}

.Submit-Button:hover {
    background-color: #bedcfe; /* Change color on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .Input-Container {
        padding: 0.5rem; /* Reduce padding on smaller screens */
        max-width: 100%; /* Allow full width use on very small devices */
    }
    .Submit-Button {
        padding: 0.5rem; /* Reduce button padding */
        font-size: 14px; /* Slightly smaller font size on smaller devices */
    }
}

.Loading-Indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    color: black;
  }
  
  .Loading-Indicator::before {
    content: '';
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  