@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white;
  padding: 20px; /* Add padding for a better spacing on all sides */
  box-sizing: border-box; /* Include padding in the width and height calculations */
}

@media (max-width: 768px) {
  .App {
    padding: 10px; /* Less padding on smaller devices */
    font-size: calc(9px + 2vmin); /* Slightly smaller font size for smaller devices */
  }
}

.Header {
  display: flex;
  flex-direction: column;
  max-width: 70vw; /* Limit the maximum width to improve readability */
  padding: 10px; /* Padding for better text separation */
  background-color: rgb(255, 255, 255); /* Slight background for emphasis */
}

.Brand {
  font-size: 3rem;
  /* font-family: arial; */
  color: rgb(86, 134, 202);
  max-width: 100%;
  font-weight: 900;
  /* margin-bottom: 1rem; */
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(117, 115, 115);
  /* font-family: arial; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Defines two columns of equal width */
  grid-gap: 10px;  /* Optional: Add spacing between grid items */
  width: 100%;
}

.grid-item1 {
  background-color: #ffffff;  /* Optional: Set background color for boxes */
  padding: 10px;  /* Optional: Add padding to boxes */
}

.grid-item2 {
  
}

p {
  color: green;
  font-family: inherit;
  font-size: 15px
}