@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white;
  padding: 20px; /* Add padding for a better spacing on all sides */
  box-sizing: border-box; /* Include padding in the width and height calculations */
}

@media (max-width: 768px) {
  .App {
    padding: 10px; /* Less padding on smaller devices */
    font-size: calc(9px + 2vmin); /* Slightly smaller font size for smaller devices */
  }
}